@tailwind base;
@tailwind components;
@tailwind utilities;
/* Payment form styling */
#paymentForm input {
    margin-bottom: 10px;
}

/* Modal styling */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}